@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.all { /*Estilização geral*/
    background-color: #1A6DED;
    color: #F9ECE4;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    font-family: "Spectral", serif;

}

.home { /*Estilização "botão" home*/
    color: #F9ECE4;
    display: flex;
}

.developer { /*Estilização imagem dev*/
    width: 100px;
    border-radius: 360px;
    margin-left: 0 auto;
    box-shadow: 5px 1px 20px #162B3D;
}

.name { /*Estilização nome dev*/
    margin-left: 30px;
    color: #F9ECE4;
    text-shadow: 3px 3px 5px #162B3D;
}

.header { /*Estilização cabeçalho*/
    margin: 0 auto;
    width: 50%;

}

.listHeader { /*Estilização lista no cabeçalho*/
    display: inline-flex;
    justify-content: space-around;
    padding: 10px;
    width: 98%;
    background-color: #F9ECE4;
    box-shadow: 5px 7px 10px #162B3D;
}


.listHeader a:hover { /*Estilização ao passar o mouse sobre os links na lista da nav*/
    background-color: #2C7CE6;
    color: #F9ECE4;
}

.linkHeaderMenu { /*Estilização links do header*/
    padding: 10px;
    margin: 50px;
}

.main { /*Estilização cointainer main*/
    width: 100vw;
    height: 50vh;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.mainLeft { /*Estilização container main left*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
}

.imegemContact { /*Estilização imagem ilustrativa sobre contatos*/
    width: 40%;
}

.mainRight { /*Estilização container main right*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.formGroup { /*Estilização divs para os formulários*/
    margin-bottom: 20px;
}

.label { /*Estilização label geral*/
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input, textarea { /*Estilização input tel, email e textarea*/
    width: 100%;
    margin: 10px;
    padding: 10px;
    width: 500px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 1px 3px 5px black;
}

textarea { /*Estilização textarea*/
    height: 150px;
    
}

.submit { /*Estilização botão de envio*/
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 2%;
}
 
.submit:hover { /*Estilização botão de envio ao passar sobre*/
    background-color: #45a049;
}

.footer { /*Estilização rodapé*/
    color: #F9ECE4;
    text-align: center;
    margin: 0 auto;
}

.listFooter { /*Estilização lista no rodapé*/
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 10px;
}

.navFooterMenu { /*Estilização menu de navegação do rodapé*/
    margin: 0 10px;
}

ul { /*Estilização geral listas*/
    list-style: none;
}

a { /*Estilização geral links*/
    text-decoration: none;
    color: #1A6DED;
    padding: 30px;
}

@media only screen and (max-width: 480px) { /*Estilização geral para width máximo de 480px*/
    .all {
      flex-direction: column;
      align-items: center;
    }

        
    .home {
        display: flex;
        flex-direction: column;
        color: #F9ECE4;
        display: flex;
    }

    .developer {
        width: 60%;
        border-radius: 360px;
        margin-left: 21%;
        box-shadow: 5px 1px 20px #162B3D;
    }

    .name {
        margin-left: 21%;
        color: #F9ECE4;
        text-shadow: 3px 3px 5px #162B3D;
        
    }

    .header {
        width: 80%;
        margin-left: 0 auto;
    }

    .listHeader {
        background-color: #F9ECE4;
        padding: 2%;
        box-shadow: 5px 7px  5px 7px 10px #162B3D;
    }


    .listHeader a:hover {
        background-color: #2C7CE6;
        color: #F9ECE4;
    }

    .linkHeaderMenu {
        padding: 1%;
        margin: 2%;
    }

    .main {
        width: 100vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        margin-top: 50%;
    }

    .mainLeft {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 5%;
    }

    .imegemContact {
        width: 60%;
        margin-right: 5%;
    }

    .formGroup {
        margin-bottom: 2px;
        margin: 0 auto;
    }
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 50%;
        margin: 0 auto;
        padding: 5px;
        width: 350px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 1px 3px 5px black;
    }
    textarea {
        height: 150px;
        
    }
    
    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 2%;
    }
    
    input[type="submit"]:hover {
        background-color: #45a049;
    }
    
    ul {
        list-style: none;
    }

    .mainRight {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer {
        color: #F9ECE4;
        text-align: center;
        margin: 0 auto;
        margin-top: 50%;
    }

    .listFooter {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        padding: 10%;
    }

    .navFooterMenu {
        margin: 0 10%; /* Espaçamento entre os ícones */
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #1A6DED;
        padding: 1%;
    }
}